/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04aaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #04aaa5;
}

/* Add padding to containers */
.container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }


}
